{% extends 'base.html' %}

{% block content %}
<div>
    <h2> {{ object.title }}</h2>
    <p class="text-muted">{{ object.author }} | {{ object.date }}</p>
    {% if article.photo %}
    <img src="{{ article.photo.url }}" alt="{{ object.title }}">
    {% endif %}
    <p>{{ object.body }}</p>
</div>
    <p>
        {% if user.id == article.author.id %}
        <a href="{% url 'article_edit' article.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Remove</a>
        {% endif %}
        <p><a href="{% url 'article_list' %}">Barcha maqolalarni </a>ko'rish</p>
    </p>
{% endblock content %}